.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore all files over 25MB
large_files.txt
./.git/objects/7e/ba42d35e303e879792b07e0376b3056e09f46d
./.git/objects/db/4d424c93bcd2df5992d4874c7326ce6db17d7e
./data/final/Dcar/TandemRepeatFinder/D.carrolli.assembly.sm.fasta.2.5.7.80.10.50.2000.dat
./data/final/Dpro/TandemRepeatFinder/renamed/prolongata_renamed_assembly.fasta.2.5.7.80.10.50.2000.dat
./data/final/Drho/TandemRepeatFinder/GCF_018152115.1_ASM1815211v1_genomic.fna.2.5.7.80.10.50.2000.dat
./data/interim/Dcar/RepeatModeler/2023-07-14/RM_21901.TueJul41226042023/families-classified.stk
./data/interim/Dcar/RepeatModeler/2023-07-14/RM_21961.TueJul41226212023/families-classified.stk
./data/interim/Dcar/RepeatModeler/2023-07-14/RM_21978.TueJul41226212023/families-classified.stk
./data/interim/Dcar/RepeatModeler/2023-07-14/RM_45358.TueJul41225452023/families-classified.stk
./data/interim/Dcar/RepeatModeler/2023-07-14/RM_49883.SatMay61558542023/families-classified.stk
./data/interim/Dcar/RepeatModeler/2023_05_07/RM_49883.SatMay61558542023/families-classified.stk
./data/interim/Dcar/TandemRepeatFinder/2023-05-05/D.carrolli.assembly.sm.fasta.2.5.7.80.10.50.2000.dat
./data/interim/Dmel/RepeatModeler/2023-07-14/RM_23436.MonMay80047452023/families-classified.stk
./data/interim/Dmel/RepeatModeler/2023-07-14/RM_50433.TueJul41305502023/families-classified.stk
./data/interim/Dmel/RepeatModeler/2023-07-14/RM_57763.TueJul41306122023/families-classified.stk
./data/interim/Dmel/RepeatModeler/2023-07-14/RM_57764.TueJul41306122023/families-classified.stk
./data/interim/Dmel/RepeatModeler/2023-07-14/RM_63939.TueJul41305522023/families-classified.stk
./data/interim/Dmel/RepeatModeler/2023_05_08/RM_23436.MonMay80047452023/families-classified.stk
./data/interim/Dpro/RepeatModeler/deduped/2023_06_08/RM_7232.WedJun70949582023/families-classified.stk
./data/interim/Dpro/RepeatModeler/deduped/2023_06_29/RM_62260.WedJun281451152023/families-classified.stk
./data/interim/Dpro/RepeatModeler/renamed/2023-07-14/RM_254874.TueJul41153152023/families-classified.stk
./data/interim/Dpro/RepeatModeler/renamed/2023-07-14/RM_37858.WedJun281522082023/families-classified.stk
./data/interim/Dpro/RepeatModeler/renamed/2023-07-14/RM_48564.TueJul41153172023/families-classified.stk
./data/interim/Dpro/RepeatModeler/renamed/2023-07-14/RM_49245.SunApr91814552023/families-classified.stk     
./data/interim/Dpro/RepeatModeler/renamed/2023-07-14/RM_58840.TueJul41152112023/families-classified.stk
./data/interim/Dpro/RepeatModeler/renamed/2023_04_10/RM_49245.SunApr91814552023/families-classified.stk
./data/interim/Dpro/RepeatModeler/renamed/2023_06_29/RM_37858.WedJun281522082023/families-classified.stk
./data/interim/Dpro/TandemRepeatFinder/renamed/2023-04-09/prolongata_renamed_assembly.fasta.2.5.7.80.10.50.2000.dat
./data/interim/Dpro/TandemRepeatFinder/renamed/2023-06-29/prolongata_renamed_assembly.fasta.2.5.7.80.10.50.2000.dat
./data/interim/Drho/RepeatModeler/2023-07-14/RM_19201.TueJul41228422023/families-classified.stk
./data/interim/Drho/RepeatModeler/2023-07-14/RM_19266.TueJul41229002023/families-classified.stk
./data/interim/Drho/RepeatModeler/2023-07-14/RM_19275.TueJul41229002023/families-classified.stk
./data/interim/Drho/RepeatModeler/2023-07-14/RM_22066.TueJul41228412023/families-classified.stk
./data/interim/Drho/RepeatModeler/2023-07-14/RM_9132.MonMay80049262023/families-classified.stk
./data/interim/Drho/RepeatModeler/2023_05_08/RM_9132.MonMay80049262023/families-classified.stk
./data/interim/Drho/TandemRepeatFinder/2023-05-06/GCF_018152115.1_ASM1815211v1_genomic.fna.2.5.7.80.10.50.2000.dat
./data/raw/GCF_000001215.4_Release_6_plus_ISO1_MT_genomic.fna.gz
./data/raw/GCF_018152115.1_ASM1815211v1_genomic.fna.gz
./scripts/TRF-4.09.1/test_seqs.fasta.s4.2.5.7.80.10.50.2000.1.txt.html
